body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

div {
  display: block;
}

.largeheader {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  height: 520px;
}

.largelogo{
  position: relative;
  margin-top: 0;
  color: #083451;
}

.logobrand h4 {
  color: #083451;
  vertical-align: middle;
}
